.custom-tooltip {
    max-width: 400px;
}

.inventory-management-container {
    padding: 16px;
}


.search-filters-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: space-between;
}

.update-inventory {
    background-color: black;
    color: white;
    border: none;
}