.custom-tooltip {
    max-width: 400px;
}

.inventory-management-container {
    padding: 16px;
}


.search-filters-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: space-between;
}

.update-inventory {
    background-color: black;
    color: white;
    border: none;
}

.quantity-label {
    font-size: 16px;
    font-weight: normal;
}

.edit-modal-content {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.quantity-input {
    padding: 10px;
}

.quantity-input.with-margin {
    margin-bottom: 20px;
}

.save-btn {
    background-color: black;
    color: white;
}

.error-msg {
    color: #e73a3a;
    font-size: 12px;
}

.custom-alert {
    margin-top: 20px;
    height: 80px;
    display: flex;
    align-items: center;

}